src/main/resources/MessageFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.example.org/message/"
	targetNamespace="http://www.example.org/message/">
	
    <complexType name="MessageXml">
    	<sequence>
            <element name="ID" type="string"></element>
            <element name="EmissionDate" type="long"></element>
            <element name="Sender" type="string"></element>
            <element name="Text" type="string"></element>
    	</sequence>
    </complexType>
    
    <element name="Message" type="tns:MessageXml"></element>
    
</schema>